@inject PortfolioWebsite.Services.InfoService infoService

@{
    ViewData["Title"] = "Resume";
}

<h1>Resume</h1>
<iframe src="/info/resume.pdf" style="border:none; width:100%; height:900px">
</iframe>