@inject PortfolioWebsite.Services.InfoService infoService

@{
    ViewData["Title"] = "Projects";
}

    <form asp-controller="Projects">
        @foreach (ProjectModel projectModel in infoService.GetProjectModels())
        {
        <div>
            <button class="project-content" asp-action="Project" asp-route-FileName="@projectModel.FileName.Replace(".txt", "")">
                <h1>@projectModel.Name</h1>
                <p>@projectModel.Description</p>
                @if (!String.IsNullOrEmpty(projectModel.Asset))
                {
                    @if (System.IO.Path.GetExtension(projectModel.Asset) == ".webm")
                    {
                        <video width="620" playsinline autoplay muted loop>
                            <source src="/assets/@projectModel.Asset" type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    }
                    else
                    {
                        <img src="/assets/@projectModel.Asset" alt="Image not found!" width="620" />
                    }
                }
            </button>
        </div>
        }
    </form>